@import "../../node_modules/bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
}

.user-review {
    width: 50%;

    .user-review-box {
        width: 100%;
    }
}

.left-detail {
    margin-bottom: 0;
    padding-bottom: 0;
}

.dropdown-score {
    width: 30%;
}

.review-area {
    margin: 0;
    padding: 0;
    width: 40%;
    overflow-wrap: break-word;
}

.right-detail {
    max-width: 50%;
}